body.active-modal {
    overflow-y: hidden;
  }
  
  .btn-modal {
    padding: 10px 00px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
  }
  
  .modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
  
  
  .modal-content {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: gray;
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    max-width: 650px;
    min-height: 125px;
    min-width: 300px;
  }
  
  .close-modal {
    background-color: rgb(38, 85, 228);
    color: white;
    position: absolute;
    top: 70%;
    right: 10px;
    padding: 5px 7px;
  }